*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

* {
  -webkit-tap-highlight-color: transparent
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}