*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

* {
  -webkit-tap-highlight-color: transparent
}


input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.sh-message-default {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  display: inline-block;
  margin: 4px 8px;
  padding: 6px 12px;
  font-size: 14px;
  color: var(--theme-color-text);
  background-color: var(--card-bg-color);
  box-shadow: 0 4px 0px var(--shadow-color);
  user-select: none;
  z-index: 9999;
}