:root {
    --default-color: #c14343;
    --hover-color: #c35c5c;
    --shadow-color: #e1e9f6;
    --shadow-color2: rgb(201, 209, 221);

    --default-bgColor: #f8fbff;
    --default-bgColor2: #f1f5ff;
    --default-bgColor3: #e3ecfd;

    --text-color: #333;
    --text-color2: #fefefe;
    --text-color3: #ea4262;
    --text-color4: #555;
    --text-color5: #eee;

    --border-color: #ccd6eb;

    /* base */
    --default-color: #c14343;
    /* sh-button */
    --sh-button-color: #030101;
    --sh-button-bg-color: var(--default-color);
    --sh-button-shadow-color: #e0e9f6;
    --sh-button-hover-color: #303539;
    --sh-button-hover-bg-color: #e0e9f6;
    /* sh-menu */
    --sh-menu-color: #555;
    --sh-menu-bg-color: #e3ecfd;
    --sh-menu-shadow-color: #c7d1de;
    --sh-menu-hover-color: var(--sh-button-color);
    --sh-menu-hover-bg-color: var(--sh-button-bg-color);
}

[data-theme="dark-theme"] {
    --default-color: #c14343;
    --hover-color: #652121;
    --shadow-color: #0b0f13;
    --shadow-color2: #0b1727;

    --default-bgColor: #30353c;
    --default-bgColor2: #232831;
    --default-bgColor3: #1a2739;

    --text-color: #fefefe;
    --text-color2: #333;
    --text-color3: #ea4262;
    --text-color4: #eee;
    --text-color5: #555;

    --border-color: #283344;

    /* base */
    --default-color: #652120;
    /* sh-button */
    --sh-button-color: #070202;
    --sh-button-shadow-color: #0b0f13;
    --sh-button-hover-color: #bccad8;
    --sh-button-hover-bg-color: #252c36;
    /* sh-menu */
    --sh-menu-color: #ddd;
    --sh-menu-bg-color: #1a2739;
    --sh-menu-shadow-color: #0b1727;
}