:root {
    /* base */
    --default-color: #c14343;
    --default-bgColor: #f8fbff;
    --card-bg-color: #f1f5ff;
    --text-color: #333;
    --border-color: #ccd6eb;
    --theme-color-text: #ea4262;
    --shadow-color: #e1e9f6;
    /* sh-button */
    --sh-button-color: #030101;
    --sh-button-bg-color: var(--default-color);
    --sh-button-shadow-color: #e0e9f6;
    --sh-button-hover-color: #303539;
    --sh-button-hover-bg-color: #e0e9f6;
    /* sh-menu */
    --sh-menu-color: #555;
    --sh-menu-bg-color: #e3ecfd;
    --sh-menu-shadow-color: #c7d1de;
    --sh-menu-hover-color: var(--sh-button-color);
    --sh-menu-hover-bg-color: var(--sh-button-bg-color);
    /* sh-radio */
    --sh-radio-color: var(--sh-button-hover-bg-color);
    --sh-radio-border-color: var(--border-color);
    --sh-radio-checked-bg-color: var(--default-color);
    /* sh-tag */
    --sh-tag-color: var(--theme-color-text);
    --sh-tag-bg-color: #f1f5ff;
    --sh-tag-shadow-color: var(--shadow-color);
}

[data-theme="dark-theme"] {
    /* base */
    --default-color: #652120;
    --default-bgColor: #1a1e24;
    --card-bg-color: #232831;
    --text-color: #fefefe;
    --border-color: #283344;
    --shadow-color: #0b0f13;
    /* sh-button */
    --sh-button-color: #070202;
    --sh-button-shadow-color: #0b0f13;
    --sh-button-hover-color: #bccad8;
    --sh-button-hover-bg-color: #252c36;
    /* sh-menu */
    --sh-menu-color: #ddd;
    --sh-menu-bg-color: #1a2739;
    --sh-menu-shadow-color: #0b1727;
    /* sh-radio */
    /* sh-tag */
    --sh-tag-bg-color: #232831;
}